{
  "endOfLine": "lf",
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": [
        "tsconfig.json",
        "jsconfig.json"
      ],
      "options": {
        "parser": "jsonc"
      }
    }
  ],
  "importOrder": [
    "^@ui/(.*)$",
    "^@interface/(.*)$",
    "^@/(.*)$",
    "^@(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": [
    "typescript",
    "jsx",
    "decorators-legacy"
  ],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-toml"
  ],
  "$schema": "http://json.schemastore.org/prettierrc"
}
