.item {
  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  :global(.shiki) {
    margin-top: 0.25em;
    margin-bottom: 0;
    background-color: transparent !important;

    * {
      font-family: var(--item-font);
    }

    span {
      color: var(--shiki-dark) !important;
      white-space: normal;
    }
  }
}
