.MDYBasePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > header {
    box-sizing: border-box;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    height: 72px;
    padding-bottom: 12px;
    margin: 0 auto;
  }

  .MDYBasePage-container {
    height: 100%;
    overflow: hidden;
    border-radius: var(--border-radius);

    > section {
      position: relative;
      box-sizing: border-box;
      flex: 1 1 100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: var(--background-color);
      scrollbar-gutter: stable;

      .MDYBasePage-content {
        padding: 28px;
        margin: 0 auto;
      }
    }

    &.no-padding {
      > section {
        overflow: visible;

        .MDYBasePage-content {
          padding: 0;
        }
      }
    }
  }
}
