@reference "tailwindcss";

.MDYSidePage-Main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > header {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 64px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .MDYSidePage-Container {
    height: 100%;
    overflow: hidden;
  }
}

.Container-common {
  @apply relative h-full overflow-hidden rounded-3xl;

  background-color: var(--background-color);
}

.ScrollArea-Thumb {
  background-color: var(--scroller-color);
}
