.MDYSidePage-Main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > header {
    box-sizing: border-box;
    display: flex;
    flex: 0 0 64px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
  }

  .MDYSidePage-Container {
    height: 100%;
    overflow: hidden;

    .MDYSidePage-Layout {
      display: flex;
      gap: 16px;
      width: 100%;
      height: 100%;
      transition: gap 0.3s;

      .LeftContainer {
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 40%;
        height: 100%;

        .LeftContainer-Content {
          height: 100%;
          overflow: hidden;
          background-color: var(--background-color);
          border-radius: calc(var(--border-radius) * 2);

          > section {
            position: relative;
            box-sizing: border-box;
            flex: 1 1 100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            scrollbar-gutter: auto;
          }
        }
      }

      .RightContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: var(--background-color);
        border-radius: calc(var(--border-radius) * 2);

        .RightContainer-Content {
          height: 100%;
          overflow: hidden;

          > section {
            position: relative;
            box-sizing: border-box;
            flex: 1 1 100%;
            width: 100%;
            height: 100%;
            overflow: auto;
            scrollbar-gutter: stable;
          }
        }
      }
    }
  }
}
