@import './fonts.scss';

body {
  margin: 0;
  overflow: hidden;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Color Emoji Flags',
    'Color Emoji';
  user-select: none;
  -webkit-font-smoothing: antialiased;
}

:root {
  --primary-main: #5b5c9d;
  --text-primary: #637381;
  --selection-color: #f5f5f5;
  --scroller-color: #90939980;
  --background-color: #fff;
  --background-color-alpha: rgb(24 103 192 / 10%);
  --border-radius: 12px;
}

::selection {
  color: var(--selection-color);
  background-color: var(--primary-main);
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroller-color);
  border-radius: 6px;
}

*::-webkit-scrollbar-track {
  margin-block: calc(var(--border-radius) + 3px);
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(18 18 18 / 100%);
  }
}

.user-none {
  user-select: none;
}
