.the-content {
  position: absolute;
  inset: 36px calc(var(--border-radius) * 2) calc(var(--border-radius) * 2) 0;
}

.the-content-small {
  position: absolute;
  inset: 36px calc(var(--border-radius) * 2) calc(var(--border-radius) * 2);
}
