.shiki {
  width: 100%;
  padding: 16px;
  overflow-x: auto;
  border-radius: 4px;
}

.dark {
  .shiki,
  .shiki span {
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    color: var(--shiki-dark) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
    background-color: var(--shiki-dark-bg) !important;
  }
}
